{{#extend "layouts/main"}}

  {{#content "title"}}
    {{post.title}}
  {{/content}}

  {{#content "body"}}
    <div class="row">
      <div class="col-md-8">
        <h1>{{post.title}}</h1>
        <p class="lead">by {{post.User.username}}</p>
        <hr>
        <p>{{post.content}}</p>
        <hr>
        <p>Posted on {{dateFormat post.createdAt "dddd, mmmm dS, yyyy, h:MM:ss TT"}}</p>
        {{#if isAuthor}}
          <a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>
          <a href="/posts/{{post.id}}/delete" class="btn btn-danger">Delete</a>
        {{/if}}
      </div>
    </div>
  {{/content}}

{{/extend}}
